body {
    background-color: rgb(135, 240, 135);
    background-image: url(../../assets/images/fairway.jpg);
}


/*  Main Header style */

.jumbotron {
    color: black;
    background-image: url(../../assets/images/golf.jpg);
    background-size: 110%;
    border: 1.5px solid black;
    
}

h4 {
    text-align: center;
    color: white;
}

.panel-title {
    color: black;
}

.panel-heading {
    text-align: center;
}

.panel {
    border: 1.5px solid black !important;
}

h2,
#currentTime {
    
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 2px, 2px, 2px, 2px;
}


/*  style for weather section */

#weather-imagebackground {
    background-image: url(../../assets/images/cloudy.jpg) !important;
    padding: 5px 0;
}

#weather-forecast {
    text-align: center;
}

h3 {
    color: blue;
}

.weatherContainer {
    display: flex;
    justify-content: space-evenly;
}

#weatherTemp,
#windSpeed,
#skyCondition {
<<<<<<< HEAD
    color: rgb(46, 10, 104);
=======
    color: rgb(46, 1, 145);
>>>>>>> shirley
    margin: 10px 0;
    padding: 2px;
    background-color: rgba(235, 233, 247, 0.19);
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
<<<<<<< HEAD
    border-style: groove;
=======
    border-style: ridge;
>>>>>>> shirley
}

th,
.fiveDayForecast {
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
}
#map {
        height: 400px;
        width: 100%;
       }

#time{
    background-color: transparent;
  
    border: none !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -28px;
}