body {
    
    background-image: url(../../assets/images/background.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*  Main Header style */

.jumbotron {
    color: black;
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url(../../assets/images/titan.jpg);
    background-size: 100%;
    height: 190px;
    
=======
    background-image: url(../../assets/images/golf.jpg);
    background-size: 110%;
    border: 1.5px solid black;
    margin-bottom: 0;
>>>>>>> a03c29f3fdbd9edbc0a442e391411ba0e20955a7
=======
    background-image: url(../../assets/images/titan.jpg);
    background-size: 100%;
    height: 190px;
>>>>>>> 72f578407215cb94701d7bacc48fd9c532a6b3ed
}

h4 {
    text-align: center;
    color: white;
}

.panel-title {
    color: black !important;
    font-size: 20px;
}

.panel-heading {
    text-align: center;
    background-image: url(../../assets/images/golf.jpg);
    background-size: cover;
    border-bottom: solid;
    border-bottom-color: black !important;
}

.panel {
    border: 2.0px solid black !important;
}

h2,
#currentTime {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 2px, 2px, 2px, 2px;
}

/*  reservation list style section */

#nameHeader {
    text-align: left;
}

#numPlayers,
#numCarts,
#numHours,
#actionGylp {
    text-align: center;
}

.edit-row {
    margin-right: 15px;
}

/*  style for weather section */

#weather-imagebackground {
    background-image: url(../../assets/images/cloudy.jpg) !important;
    padding: 5px 0;
}

#weather-forecast {
    text-align: center;
}

h3 {
    color: black;
}

.weatherContainer {
    display: flex;
    justify-content: space-evenly;
}

#weatherTemp,
#windSpeed,
#skyCondition {
    color: rgb(46, 1, 145);
    margin: 10px 0;
    padding: 2px;
    background-color: rgba(235, 233, 247, 0.19);
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    border-style: ridge;
}

th,
.fiveDayForecast {
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
}

#map {
<<<<<<< HEAD
<<<<<<< HEAD
        height: 377px;
        width: 100%;
       }
=======
    height: 400px;
    width: 100%;
}
>>>>>>> a03c29f3fdbd9edbc0a442e391411ba0e20955a7
=======
        height: 377px;
        width: 100%;
       }

>>>>>>> 72f578407215cb94701d7bacc48fd9c532a6b3ed

#time {
    background-color: transparent;
    border: none !important;
}

<<<<<<< HEAD
<<<<<<< HEAD
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -28px;
}

.primary-footer {
    color: gray;
=======
=======
.primary-footer {
    color: gray;
>>>>>>> 72f578407215cb94701d7bacc48fd9c532a6b3ed

/* modal style section */

.formActions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.modal-dialog {
    width: 450px;
}

.modal-header {
    padding: 5px;
}

.modal-body {
    padding: 20px 30px 10px;
}

.modal-header,
h4,
.close {
    background-color: #FCF8E3;
    color: black !important;
    text-align: center;
    font-size: 30px;
}

.glyphicon-edit {
    margin-right: 10px;
}

/* delete modal form */

.modalButtons {
    width: 100px;
<<<<<<< HEAD
>>>>>>> a03c29f3fdbd9edbc0a442e391411ba0e20955a7
=======
>>>>>>> 72f578407215cb94701d7bacc48fd9c532a6b3ed
}